@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Press+Start+2P&family=Russo+One&display=swap');

:root
{
    --Background_aside:#292829;
    --text-white_02:#ececec;
    --Logo:#f09a1a;
    --MenuAbove: #333;
    --text-white_01:#c9c9c9;
    --text-white_03:#b1aeae;

}
body
{
 line-height: 1.5;
 font-size:16px;
 font-family: 'Fredoka', sans-serif;
}
*
{

    margin:0;
    padding: 0;
    outline: none;
    text-decoration:none;
    box-sizing: border-box;
}
::before,::after
{
    box-sizing:border-box;
}
ul
{
    list-style: none;

}
.section
{
    background: var(--MenuAbove);
    min-height: 100vh;
    display: block;
    padding: 0 20px;
    opacity: 1;
}
.hidden
{
  display: none !important;
}
.padd-15
{
  padding-left: 80px;
  padding-right: 80px;
}
.container
{
  max-width:100%;
  width: 50%;
  height: 70%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(37, 37, 37, 0.973);
  border-radius: 20px;
  margin: auto 1%;
}
.row
{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative 20%;

}
.btn
{
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color:white;
  border-radius: 5px;
  border:none;
  display: inline-block;
  white-space: nowrap;
  background: #f09a1a;
  transition: all 0.3s ease;
}
.btn:hover
{
transform: scale(1.05);
}
.shadow-dark
{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.973);
}

/* Aside */
.above
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
/*------------------- Logo-------------------- */
.above .logo
{
    float:right;
    top: 5px;
    margin-right: 60px;
    margin-top: 4px;
    left: -10px;
    font-size:60px;
    text-transform: capitalize;

}
.above .logo 
{
  font-family: 'Press Start 2P', cursive;
  text-shadow: 4px 4px black;
  color:var(--text-white_02);
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 5px;
}
.above .navigation
{
  text-align: center;
  left: 200px;
}
.above .navigation li
{
   float: left;
   border-right: 2px solid #bbb;
}
/*------------------------ Links inside the nav bar --------------------------------*/
.above .navigation li a
{ 
  font-family: 'Press Start 2P', cursive;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  text-shadow: 2px 2px black;
}

.above .navigation li a .active
{
    color: var(--text-Purple-50);
}
li a:hover {
  background-color: rgb(228, 150, 48);
  transform: scale(1.15);
}
.active
{
  background-color: rgb(141, 141, 141);
}
/*----------------------------------Home----------------------------------*/
.home-section
{

  display:flex;
  color: rgb(255, 255, 255);
}
.home-section .home-info
{
  flex: 0 0 60%;
  max-width: 60%;
  padding-top: 5%;
}
h3.hello
{
 
  font-size: 25px;
  font-weight: 700;
  color: #f3f3f3;
  text-shadow: 4px 4px black;
}

h3.hello span
{
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  font-weight: 700;
  color: #f09a1a;
  text-shadow: 4px 4px black;
}
h3.my-profession
{
  
  font-size: 30px;
  margin: 15px 0;
  font-weight: 700;
  color: #fcfcfc;
  text-shadow: 4px 4px black;
}
.typing
{
  color: #f09a1a;
}
.home-info p
{
  margin-bottom: 20px;
  font-size: 20px;
  color: #ececec;
}
.home-section .home-img
{
  max-width: 20%;
  margin-left: -10%;
  text-align: center;
  position: relative;

}

.home-section .home-img img
{
  width: 300px;
  border-radius: 40%;
 
}
#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
/*-----Showcase---------*/
.showcase 
{
  width: 90%;
  margin: auto;
  margin-top: 5%;
  margin-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  padding-left: 1%;
  display: grid;
  grid-template-columns:repeat(2,1fr) ;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  background-color: #292829fa;
  border-radius: 10px;
}
.photo
{
  height: 500px;
  width: 800px;
  border-radius: 10px;
}
.photo img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.photo:hover
{
  color: #292829;
}




/*About Container*/
.section .container
{
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title
{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2{
  font-size:  40px;
  color: var(--text-Purple-50);
  font-weight: 700;
  position: relative;
}


/*About*/
.about .about-content
{
  flex: 0 0 100%;
  max-width: 100%;

}

.about .about-content .about-text
{
  flex: 0 0 100%;
  max-width: 100%;
  color: #f09a1a;
}
.about .about-content .about-text h3{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-white_01);
}
.about .about-content .about-text h3 span{
  color: var(--Logo);
}
.about .about-content .about-text p
{
  font-size: 16px;
  line-height: 25px;
  color: var(--text-white_03);
}
.about .about-content .personal-info
{
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
  

}
.about .about-content .personal-info .info-item
{
  flex:  0 0 100%;
  max-width: 100%;


}
.about .about-content .personal-info .info-item p
{
   font-weight: 600;
   padding: 10px 0;
   font-size: 16px;
   color: var(--text-white_01);
   border-bottom: 1px solid var(--Logo);

}
.about .about-content .personal-info .info-item p span
{
  font-weight: 400;
  color: var(--Logo);
  margin-left: 6px;
  display: inline-block;
}
.about .about-content .skills
{
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}
.about .about-content .personal-info .buttons
{
  margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn
{
  margin-right: 15px;
  margin-top: 10px;
}
.about .about-content .skills .skills-item
{
  flex:  0 0 100%;
  max-width: 100%;

}
.about .about-content .skills .skills-item h5
{
  line-height: 40px;
  font-weight: 600;
  font-size:16px ;
  color: --text-white_01;
  text-transform: capitalize;
}
.about .about-content .skills .skills-item .progress
{
  background-color: var(--text-white_01);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .about-content .skills .skills-item 
{
  margin-bottom: 25px;

}
.about .about-content .skills .skills-item .progress .progress-in
{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: #f09a1a;
}
.about .about-content .skills .skills-item .skill-percent
{
  position: absolute;
  right: 0;
  color: #ececec;
  top: -40px;
  font-weight: 400;
  line-height: 40px;


}
.about .about-content .education,
.about .about-content .experience
{
  flex: 0 0 100%;
  max-width: 50%;
  margin-top: 30px;

}
.about .about-content h3.title
{
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #f09a1a;
}
.about .about-content .timeline-box
{
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline
{
  background-color: var(--Background_aside);
  padding: 30px 15px;
  border: 1px solid var(--Background_aside);
  width: 100%;
  position: relative;
}
.about .about-content .timeline .timeline-item
{
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;

}
.about .about-content .timeline .timeline-item:last-child
{
  padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before
{
  content: '';
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: #f09a1a;

}

.about .about-content .timeline .circle-dot
{
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f09a1a;
}
.about .about-content .timeline .timeline-date
{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: #b1aeae;

}
.about .about-content .timeline .timeline-title
{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color:#f09a1a;
}
.about .about-content .timeline .timeline-text
{
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: #bbb;
}

/*PortFolio*/
.portfolio  .portfolio-heading
{
 flex: 0 0 100%;
 max-width: 100%;
 margin-bottom: 40px;
}
.portfolio .portfolio-heading h2
{
  color:#f09a1a;
  font-weight: 700;
  text-shadow: 4px 4px black;
  font-size: 36px;
  position: relative;

}

.portfolio .portfolio-item
{
  flex: 0 0 33%;
  max-width: 33%;
  max-height: 33%;
  background-color: #292829;
}

.portfolio .portfolio-item-inner
{
  border: 6px solid var(--Logo);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img
{
  width: 100%;
  display:block;
}

.portfolio .image-infomation p
{
  font-size: 16px;
  margin-bottom: 50px;
  margin-top: 20px;
  font-weight: 700;
  color: #e2dbdb;
}
.portfolio .background
{
  position: absolute;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #292829;
  z-index: -1;
}
.portfolio .image-infomation .type 
{
  font-size: 26px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 700;
  color: var(--Logo);
  text-transform: capitalize;
}
.portfolio .image-infomation .name 
{
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 700;
  color: var(--text-white_02);
  position: relative;
  text-transform: capitalize;
}